@model List<Category>
<h1>CategoryList</h1>
<a asp-controller="Category" asp-action="Create" class="btn btn-primary">
    Create New Category
</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
        </tr>
        }
</tbody>
</table>